@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Work+Sans&display=swap');

.header {
    display: flex;
    justify-content: center;
    background-color: #e54b4b;
    color: #1e1e24;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-family: 'Staatliches', cursive;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #444140;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    background-color: #f7ebe8;
    min-height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #ffa987;
    color: #1e1e24;
    width: 100%;
   
}

img, .weaponImages {
    max-width: 200px;
    height: auto;
    background-color: #f27a69;
    border-radius: 5%;
    transition: all .07s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 1;
}

.weaponImages:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.btnContainer {
    display: flex;
    gap: 15px;
    padding: 25px;
}

.gameCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3{
    margin: 0;
}
h3 {
    margin-top: 15px;
}

.scoreboardCard, .weapons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weapons {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.individualScoreboards {
    display: flex;
    justify-content: space-evenly;
}

.scorecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f27a69;
    color: black;
    font-size: larger;
}

.scorecard p {
    margin: 0;
}

#result {
    margin-top: 0;
    margin-bottom: 10px;
}

.battleImages {
    width: 100px;
    margin: 10px;
}

.link {
    text-decoration: none;
    color: #1e1e24;
}
